@import 'import';

.country-card-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-card {
  width: 85vw;
  height: 80vh;
  position: relative;
  background-color: white;
  display: flex;
  flex-flow: row;
  z-index: 2;
  box-shadow: 4px 5px 16px 6px rgba(0,0,0,0.80);
}

.country-card-background {
  background: rgba(37,52,59,0.85);
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1;
}

@keyframes appearIn {
  0%   {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.country-card-description {
  overflow: scroll;

  p {
    padding: rem-calc(0 15px 15px 0);
  }
}

.country-card-column {
  width: 50%;
  height: 100%;
  display: block;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  .country-card-main-image {
    overflow: hidden;
    height: 70%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .country-card-stats {
    padding: rem(40px);
    display: grid;
    grid-template-rows: rem(185px) 1fr;
    height: 100%;

    .country-card-stats-header {

      ul {
        list-style: none;
        margin: rem-calc(0 0 25px 0);
        padding: 0;
        color: white;

        li {
          padding: rem-calc(2px 0);
        }
      }
      h1 {
        color: white;
        font-weight: 300;
        font-size: rem(24px);
        color: #BBBDBF;
        text-align: left;
        text-transform: uppercase;
      }
      .missions-header {
        padding-bottom: rem(10px);
        border-bottom: 1px solid grey;
      }
      p {
        font-size: rem(14px);
        color: #FFFFFF;
      }
      h3 {
        color: white;
      }
    }
    .missions-container {
      overflow: scroll;
      max-height: 100%;
      margin-right: -5px;

      .item {
        padding: rem-calc(25px 0px 25px 25px);
        border-bottom: 1px solid grey;

        h1 {
          font-size: rem(24px);
          color: #FFFFFF;
          text-align: left;
          &:after {
            height: rem(20px);
            width: rem(20px);
            display: block;
            content: '';
            background-color: #F1AE22;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-image: url('/assets/icons/map-marker-alt.svg');
            float: left;
            margin-left: rem(-25px);
            margin-top: rem(7px);
          }
        }
        h2 {
          font-weight: 300;
          font-size: rem(18px);
          color: #588EA5;
          text-align: left;
          margin: rem-calc(5px 0px);
        }
        p {
          font-weight: bold;
          font-size: rem(12px);
          color: #BBBDBF;
          text-align: left;
          margin: 0px;
        }
      }
    }

  }

  .country-card-title {
    display: flex;
    justify-content: space-between;
    //align-items: center;

    h1 {
      line-height: 1.1;
      margin-left: -6px;
    }
    h3 {
      margin: 10px 0 15px;
    }

    img {
      height: 75px;
      width: 115px;
    }
  }

}
.country-card-column-right {
  background-color: #2B414E;
  border: 1px solid white;
  border-left: 0px;
  transition: .3s width;
}

.country-card-column-left {
  height: calc( 100% + 2px );
  transition: .3s width;

  > div:first-child {
    position: relative;
    height: 30%;
    padding: 40px 40px 40px 40px;

    &::after {
      content: '';
      display: block;
      height: 20px;
      width: 92%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      position: absolute;
      left: 0;
      bottom: 40px;
    }
  }
}

.country-image {
  width: 100%;
}

.mission-card {
  .country-card-column-left {
    width: 66.666%;
    transition: .3s width;

    > div {
      display: grid;
    }

    .country-card-title-info {
      h1 {
        font-size: rem(48px);
        color: #25343B;
        letter-spacing: -0.03px;
      }
      h3 {
        font-weight: bold;
        font-size: rem(24px);
        color: #588EA5;
        text-align: left;
        margin: 0 0 15px;
      }

    }
  }
  .country-card-column-right {
    width: 33.333%;
    transition: .3s width;

    .country-card-stats {
      padding: 40px;
      display: grid;
      grid-template-rows: rem(50px) 1fr;
      height: 100%;
    }

    .missions-container {
      color: white;

      ::ng-deep {
        p {
          color: white;
          margin-top: 3px;
          font-weight: lighter;
          font-size: rem(14px);
          line-height: 1.5;
        }
      }

      img {
        max-width: 100%;
        margin-top: rem(15px);
      }

      .item {
        padding-left: 0px;
        p {
          font-size: rem(16px);
          color: #FFFFFF !important;
          letter-spacing: -0.03px;
          font-weight: 500;
          margin: rem-calc(3px 0 0 0);
        }
        span {
          font-style: italic;
          color: #588EA5;
        }
        h1 {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.close-btn {
  width: rem(45px);
  height: rem(45px);
  position: fixed;
  background-color: #F1AE22;
  border: 5px solid white;
  border-radius: rem(45px);
  align-self: flex-end;
  margin-top: rem(-20px);
  margin-left: rem(20px);
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    height: rem(20px);
    width: rem(20px);
    display: block;
    content: '';
    background-color: #25343B;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-image: url('/assets/icons/times.svg');
  }

  &.back-button {
    position: absolute;
    z-index: 99;
    top: rem(-20px);
    left: rem(-18px);
    margin: 0;

    &:before {
      height: rem(30px);
      width: rem(30px);
      -webkit-mask-image: url('/assets/icons/back.svg');
      margin-top: rem(6px);
      margin-right: rem(4px);
    }
  }
}
