@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700');


@import 'assets/sass/abstracts/functions';
@import 'assets/sass/abstracts/variables';
@import 'assets/sass/abstracts/mixins';

@import 'assets/sass/animations';
@import 'assets/sass/dragger-bar';


/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  overflow: hidden;
}

p {
  font-size: 18px;
  color: #25343B;
}

h1 {
  font-weight: 300;
  font-size: rem(48px);
  color: #25343B;
  text-align: left;
  margin: 0px;
}