
:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  background: black;
  overflow: hidden;
}

.country-card {
  display: grid;
}

.country-card--bottom-left {
  .subheader {
    margin-bottom: 10px;
  }
}